<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Login</title>
    {% include "css.html" %}
</head>

<body>
    <div class="login-container">
        <h3 class="text-center mb-4">Login</h3>
        <form id="login">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="identificador" placeholder="">
                <label for="floatingInput">Insira o seu identificador</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="senha" placeholder="Password">
                <label for="floatingPassword">Insira a sua senha</label>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    <button type="submit" class="btn btn-primary w-70">Entrar</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-danger w-70">Voltar</button>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Recuperar Senha
                </button>
            </div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Recuperar senha</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="identificador" placeholder="">
                            <label for="floatingInput">Insira o seu identificador</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="senha" placeholder="Password">
                            <label for="floatingPassword">Insira a sua senha</label>
                        </div class="mt-4">
                        <div class="col-3">
                            <button type="button" class="btn btn-success w-70">Enviar</button>
                        </div>
                    </div>
                </div>
        </form>
        <style>
            body {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f5f5f5;
            }

            .login-container {
                width: 380px;
                padding: 30px;
                background: #fff;
                border-radius: 12px;
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            }
        </style>
</body>
{% include "script.html" %}
<script defer type="module" src="/js/fornecedor.js"></script>

</html>